# Ignore files and directories that must not be added to the repository.
#
# Ignore local cache directory.
.local
# Ignore local settings directory.
.settings
# Ignore ConstantValues.xaml which contains sensitive information.
ConstantValues.xaml
